@import "../../scss/colors.scss";
@import "../../scss/fonts.scss";
@import "../../scss/devices.scss";

.ActivityCard {
  display: grid;
  grid-template-rows: 16rem 10rem 6rem;
  height: 32em;
  width: 32em;
  background-color: white;
  margin: 1em;
  align-items: center;
  justify-items: center;
  border-radius: 1em;
  cursor: pointer;

  &:hover {
    border-color: black;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 3px grey;
  }

  .ActivityHeader {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-items: center;
    width: 100%;


    .Main {
      display: grid;
      justify-self: start;
      grid-template-rows: 60% 20% 20%;
      height: 100%;
      //margin-left: 1em;
      margin: 0 0 0 1em;
      .Title {
        color: black;
        font-size: 1.5em;
      }
      .Info {
        color: #171a20;
      }
    }

    .Secondary{
      display: grid;
      grid-template-columns: 50% 50%;
      height: 100%;
      width: 100%;
    }
    .TimerContainer {
      display: grid;
      justify-self: center;
      // .Timer {
      //   transform: scale(2.6);
      height: 4rem;
      align-self: center;
      width: 100%;
      // }
    }
    .BookmarkContainer {
      display: grid;
      align-self: start;
      justify-items: center;
      grid-template-rows: 60% 40%;
      height: 100%;
      margin-top: 1em;
      .Bookmark {
        transform: scale(2.4);
      }
      .Spots{
        display: grid;
        //align-self: end;
        font-size: .8rem;
        color: red;
        font-weight: 800;
        //justify-self: center;
   
        
      }
    }
  }

  .Footer {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;

   

    .MoreContainer {
    
      .MoreButton {
        background-color: $color-blue;
        height: 3rem;
        width: 14rem;
        //transform: scale(0.8);
        strong {
          color: white;
        }
      }
    }
  }

  .VideoContainer {
    display: grid;
    height: 100%;
    width: 100%;
    video {
      height: 100%;
      width: 100%;
      border-radius: 1em 1em 0 0;
      object-fit: fill;
    }
  }

    .ImageContainer {
      display: grid;
      height: 16rem;
      width: auto;
      align-self: center;
justify-self: center;
     
      .Image{
        display: grid;
        max-height: 16rem;
        width: 100%;
        align-self: center;
        justify-self: center;
        border-radius: 1em 1em 0 0;
      }
    }


}

@include mobile {
  .ActivityCard{

display: grid;
  grid-template-rows: 16rem 16rem 6rem;
  height: 38rem;
  width: 100%;


.ActivityHeader{
  display: grid;
  grid-template-rows: 6rem 5rem 5rem;
  grid-template-columns: 100%;
  height: 100%;
  width: 100%;
}


  }
}
