@import "../../scss/colors.scss";
@import "../../scss/fonts.scss";
@import "../../scss/devices.scss";

.ActivityCard {
  display: grid;
  grid-template-rows: 60% 25% 15%;
  height: 32em;
  width: 32em;
  background-color: white;
  margin: 1em;
  align-items: center;
  justify-items: center;
  border-radius: 1em;
  cursor: pointer;

  &:hover {
    border-color: black;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 3px grey;
  }

  .ActivityHeader {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    align-items: center;
    justify-items: center;
    width: 100%;

    .Main {
      display: grid;
      justify-self: start;
      grid-template-rows: 50% 25% 25%;
      height: 100%;
      //margin-left: 1em;
      margin: 0 0 0 1em;
      .Title {
        color: black;
        font-size: 1.5em;
      }
      .Info {
        color: #171a20;
      }
    }
    .TimerContainer {
      display: grid;
      justify-self: end;
      // .Timer {
      //   transform: scale(2.6);
      // }
    }
    .BookmarkContainer {
      display: grid;
      align-self: start;
      margin-top: 1em;
      .Bookmark {
        transform: scale(2.4);
      }
    }
  }

  .Footer {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;

    .MoreContainer {
      .MoreButton {
        background-color: $color-blue;
        height: 3rem;
        width: 14rem;
        //transform: scale(0.8);
        strong {
          color: white;
        }
      }
    }
  }

  .VideoContainer {
    display: grid;
    height: 100%;
    width: 100%;
    video {
      height: 100%;
      width: 100%;
      border-radius: 1em 1em 0 0;
      object-fit: fill;
    }
  }
}
