@import "../../scss/colors.scss";
@import "../../scss/fonts.scss";
@import "../../scss/devices.scss";

.ActivityCard {
  display: grid;
  grid-template-rows: 50% 25% 25%;
  height: 36em;
  width: 32em;
  background-color: white;
  margin: 1em;
  align-items: center;
  justify-items: center;
  border-radius: 1em;
  cursor: pointer;

 
.Header{
  display: grid;
  grid-template-columns: 75% 25%;

  width: 100%;

  .Main{
    display: grid;
    justify-self: start;
    grid-template-rows: 75% 25%;
    margin-left: 1em;
    .Title{
      color: blue;
      font-size: 2em;
    }
    .Info{

    }
  }
  .Progress{
    display: grid;
    justify-self: end;
  }

}

.Footer{
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  justify-items: center;

  .Highlights{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1em;
  }
}
 
  .VideoContainer{
    video{
      height: 100%;
      width: 100%;
      border-radius: 1em 1em 0 0;

    }
  }
}