@import "../../scss/colors.scss";
@import "../../scss/fonts.scss";
@import "../../scss/devices.scss";

.JoinActivity {
 

  // button {
  //   height: 3rem;
  //   width: 5rem;
  //   border-radius: 0.5rem;
  //   background-color: lightgray;
  //   margin: 1rem;
  // }

  .Fab {
    transform: scale(0.6);
    color: $sciencegreen;
    background-color: $greenery;

    ::hover {
      background-color: red;
    }
  }

  // .JoinActivityButton {
  //   background-color: lightgreen;
  // }

  // .LeaveActivityButton {
  //   background-color: lightsalmon;
  // }

  // .JoinActivityButton:hover {
  //   background-color: $sciencegreen;
  // }
  // .LeaveActivityButton:hover {
  //   background-color: lightcoral;
  // }
}
