@import "../../scss/colors.scss";
@import "../../scss/fonts.scss";
@import "../../scss/devices.scss";

.JoinActivity {
  .JoinFab {
    display: flex;
    width: 14rem;
    flex-direction: column;
    //transform: scale(0.8);
    color: white;
    background-color: $greenery;
    &:hover {
      background-color: $sciencegreen;
    }
    .Token {
      height: auto;
      width: 2rem;
    }

    .Add:hover {
      fill: yellow;
    }
    .Remove:hover {
      color: lightcoral;
    }
  }
}
