.ActivitiesInfo{

height: 10rem;

    box-shadow:         3px 3px 5px 6px #ccc;

    .InfoTitle{
       padding-top: 1rem;
    }

.Icons{

display: grid;
grid-template-columns: 33% auto 33%;
    .Icon{
        height: 2rem;
        width: auto;
    }
}

margin-bottom: 2rem;
}