.CreatorsInfo{

padding-top: 1rem;
    padding-bottom: 2rem;

    box-shadow:         3px 3px 5px 6px #ccc;
.Icons{

display: grid;
grid-template-columns: 33% auto 33%;



    .Icon{
        height: 3rem;
        width: auto;
    }
}
}