@import "../../scss/colors.scss";
@import "../../scss/fonts.scss";
@import "../../scss/devices.scss";

.PlayPage {
display: grid;
grid-template-rows: 4rem auto;
text-align: left;
h1{
  margin: 1rem;
}



.Play{
  display: grid;
  grid-template-columns: 12rem auto;
  background-color: $teslagray;

  @include mobile{

      grid-template-columns: 100%;

    .ActivityFilter{
      display: none;
   }

  }

}

.ActivityFilter{
  display: flex;
  flex-direction: column;
}

.PlayGrid{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-top: 3rem;
  padding: 0;
  justify-content: center;
  width: 100%;
}


}
//   display: grid;
//   grid-template-columns: 2rem auto;
//   align-items: center;
//   justify-items: center;
//   .FilterOptions {
//     display: grid;
//     grid-template-columns: 25% 50% 25%;
//     grid-template-rows: 100%;
//     align-items: center;
//     justify-items: center;
//     height: 100%;
//     width: 100%;

//     .CalendarButton {
//       height: 5rem;
//       width: auto;
//       cursor: pointer;
      
//     }

//     .Day {
//       color: $darkerblue;

//       cursor: pointer;
//     }
//     .Day:hover{
//       text-decoration: underline;
//     }

//     .Select {
//       display: grid;
//       margin: 0.5rem;
//       grid-row-gap: 0.2rem;
//       align-items: center;
//       justify-items: center;

//       label {
//         font-size: 1.2rem;
//       }

//       select {
//         border-radius: 0.5rem;
//         height: 2rem;
//         width: 4rem;
//       }
//     }
//   }

//   .Calendar {
//     box-shadow: 3px 3px 5px 6px #ccc;
//     border-radius: 2rem;
//     margin-bottom: 1rem;
//   }

//   .DaySelect {
//     display: grid;
//     grid-template-columns: repeat(7, 1fr);
//     overflow-x: auto;
//     height: 100%;
//     scroll-snap-type: x mandatory;
//     align-items: center;
//     justify-items: center;

//     .Day {
//       margin: 0 1rem;
//       border-radius: 0.5rem;
//       border-color: darkgray;
//       border-width: thin;
//       height: 3rem;
//       width: auto;
//     }
//     .ActiveDay {
//       margin: 0 1rem;
//       border-radius: 0.5rem;
//       background-color: darkgray;
//       color: white;
//       border-color: darkgray;
//       border-width: thin;
//       height: 3rem;
//     }
//   }

//   .PlayGrid {
//     display: grid;
//     grid-template-columns: 100%;
//     grid-template-rows: repeat(auto, 1fr);
//   }
// }

// @include desktop {
//   .PlayPage {
//     .FilterOptions {
//       display: grid;
//       grid-template-columns: 25% 50% 25%;
//       grid-template-rows: 100%;
//       align-items: center;
//       justify-items: center;
//       height: 100%;
//       width: 50%;
//     }
//     .PlayGrid {
//       display: grid;
//       grid-template-columns: 50% 50%;
//       grid-template-rows: repeat(auto, 1fr);
//       height: 100%;
//       width: 100%;
//     }
//   }
// }
