@import "../../scss/colors.scss";
@import "../../scss/fonts.scss";
@import "../../scss/devices.scss";

.PlayPage {
  display: grid;
  grid-template-rows: 4rem auto auto;
  text-align: left;
  h1 {
    margin: 1rem;
  }

  .Play {
    display: grid;
    grid-template-columns: 12rem auto;
    background-color: $teslagray;

    .Filter{
      //background-color: white;
      padding: .5rem;
      @include mobile {
        
          display: none;

      }

      .FilterMobile{
        display: block;
        position: absolute;
        top: 0;
        display: block;
        z-index: 999;
        height: 100%;
        width: 100%;
      }



    .SearchField {
      //transform: scale(0.6);
      align-self: center;
      justify-self: center;
      color: black;
      margin: 1rem 0 0 1rem;
      width: 8rem;
      @include mobile {
        
        width: 90%;

      }



    }
  }

    @include mobile {
      grid-template-columns: 90%;
      align-items: center;
      justify-items: center;

      .ActivityFilter {
        display: none;

      }
    }
  }


.SubHeader{
display: grid;
background-color: $teslagray;
grid-template-columns: 50% 50%;
align-items: start;
//justify-items: start;

.Timer{
  
  height: 3rem;
  margin-left: 1.5rem;
  align-self: center;
  justify-self: center;
  .TimeString{
    font-size: 1.2rem;
   
  }
}

  .FilterButton{
    display: none;

    @include mobile {
      align-self: center;
      justify-self: center;
      display: block;

      .Button{
        //margin-top: .5rem;
        transform: scale(1.2);;
      }
      }

  }
}

  .Header {
    display: grid;
    grid-template-columns: 80% 10% 10%;
    align-items: center;


    @include mobile {
      
      .Sorter{
        display: none;
      }
      

    }
    


    .Slider {
      //transform: scale(0.6);
      color: black;
    }
.Sorter{
    // background-color: $teslagray;
    // border-radius: 1.5rem;
    // padding: .5rem;
    .SortBy{
      display: flex;
      justify-self: end;
      margin: .2rem;
      text-decoration: none;
      color: black;
      transform: scale(.8);
    }
  }

    .Wallet {
      display: flex;
      //align-self: flex-end;
      align-items: center;
      justify-self: end;
      img {
        margin-right: 1rem;
        height: 2rem;
        width: auto;
      }
    }
  }

  .ActivityFilter {
    display: flex;
    flex-direction: column;
  }

  

  .PlayGrid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-top: 0rem;
    padding: 0;
    justify-content: center;
    width: 100%;
       
    
  }
}
//   display: grid;
//   grid-template-columns: 2rem auto;
//   align-items: center;
//   justify-items: center;
//   .FilterOptions {
//     display: grid;
//     grid-template-columns: 25% 50% 25%;
//     grid-template-rows: 100%;
//     align-items: center;
//     justify-items: center;
//     height: 100%;
//     width: 100%;

//     .CalendarButton {
//       height: 5rem;
//       width: auto;
//       cursor: pointer;

//     }

//     .Day {
//       color: $darkerblue;

//       cursor: pointer;
//     }
//     .Day:hover{
//       text-decoration: underline;
//     }

//     .Select {
//       display: grid;
//       margin: 0.5rem;
//       grid-row-gap: 0.2rem;
//       align-items: center;
//       justify-items: center;

//       label {
//         font-size: 1.2rem;
//       }

//       select {
//         border-radius: 0.5rem;
//         height: 2rem;
//         width: 4rem;
//       }
//     }
//   }

//   .Calendar {
//     box-shadow: 3px 3px 5px 6px #ccc;
//     border-radius: 2rem;
//     margin-bottom: 1rem;
//   }

//   .DaySelect {
//     display: grid;
//     grid-template-columns: repeat(7, 1fr);
//     overflow-x: auto;
//     height: 100%;
//     scroll-snap-type: x mandatory;
//     align-items: center;
//     justify-items: center;

//     .Day {
//       margin: 0 1rem;
//       border-radius: 0.5rem;
//       border-color: darkgray;
//       border-width: thin;
//       height: 3rem;
//       width: auto;
//     }
//     .ActiveDay {
//       margin: 0 1rem;
//       border-radius: 0.5rem;
//       background-color: darkgray;
//       color: white;
//       border-color: darkgray;
//       border-width: thin;
//       height: 3rem;
//     }
//   }

//   .PlayGrid {
//     display: grid;
//     grid-template-columns: 100%;
//     grid-template-rows: repeat(auto, 1fr);
//   }
// }

// @include desktop {
//   .PlayPage {
//     .FilterOptions {
//       display: grid;
//       grid-template-columns: 25% 50% 25%;
//       grid-template-rows: 100%;
//       align-items: center;
//       justify-items: center;
//       height: 100%;
//       width: 50%;
//     }
//     .PlayGrid {
//       display: grid;
//       grid-template-columns: 50% 50%;
//       grid-template-rows: repeat(auto, 1fr);
//       height: 100%;
//       width: 100%;
//     }
//   }
// }
