@import '../scss/colors.scss';
@import '../scss/fonts.scss';
@import '../scss/devices.scss';

.HomePage {
  height: 100%;
  width: 100%;
  color: $color-primary;

  img{
    height: 10rem;
    width: auto;
  }


  .CreateActivityButton{
    width: 100%;
    height: 4rem;
    color: black;
    border: black;
        background-color: $scienceblue;
      box-shadow:         3px 3px 5px 6px #ccc;
display: grid;
justify-items: center;
align-items: center;



  }
}

@include desktop {
}
