@import "../scss/colors.scss";
@import "../scss/fonts.scss";
@import "../scss/devices.scss";

.NavBar {
  height: 100%;
  width: 100%;
  font-size: 0.6rem;

  display: grid;
  grid-template-columns: (33% auto 33%);
  grid-template-rows: 100%;
  align-items: center;
  background: white;
  //background: linear-gradient(90deg, rgba(4,165,76,1) 20%, rgba(4,165,76,1) 47%, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 100%);

  z-index: 100;

  a {
    color: black;
    text-decoration: none;
    .LogoIcon {
      margin-top: .3rem;
      height: 1.7rem;
      width: auto;
    }
    .Icon {
      height: 2rem;
      width: auto;
    }
  }

  .active {
    color: white;
  }

  .Expander {
    display: flex;
    align-self: center;
    justify-self: start;
    .ExpandButton {
      outline: none;
      border: none;
      background-color: transparent;
      .ExpandIcon {
        height: 1.6rem;
        width: auto;
      }
    }
  }

  .MainNav {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

    .Text {
      display: none;
    }
  }

.Profile{
  display: flex;
  align-self: center;
  justify-self: flex-end;
  margin-right: .2rem;
  .ProfileIcon {
    border-radius: 50%;
    height: 1.5rem;
    width: auto;
  }
}

  .Closed{
    display: none;
  }

  .Expand {
    position: absolute;
    top: 0;
    display: block;
    z-index: 999;
    background-color: $greenery;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
  }

}

// @include desktop {
//   .NavBar {
//     font-size: 0.4rem;
//     display: grid;
//     grid-template-columns: 25% 50% 25%;
//     //grid-template-rows: 100%;
//     a {
//       color: black;
//     }

//     .Expander {
//       display: none;
//     }

//     .MainNav {
//     }

//     .SecNav {
//       display: block;
//       display: grid;
//       grid-template-columns: 25% 25% 25% 25%;
//       grid-template-rows: 100%;
//       position: relative;
//       height: 100%;
//       width: 100%;
//       align-items: center;
//     }

//     .MobileNav {
//       display: block;
//       display: grid;
//       grid-template-columns: 25% 25% 25% 25%;
//       grid-template-rows: 100%;
//       position: relative;
//       height: 100%;
//       width: 100%;
//       top: unset;
//       bottom: unset;
//       z-index: 0;
//       background-color: unset;
//     }
//   }
// }
