@import '../scss/colors.scss';
@import '../scss/fonts.scss';
@import '../scss/devices.scss';

.NavBar {
	height: 100%;
	width: 100%;
	font-size: x-small;

	display: grid;
	grid-template-columns: (33% auto);
	grid-template-rows: 100%;
	align-items: center;
	background: rgb(4,165,76);
//background: linear-gradient(90deg, rgba(4,165,76,1) 20%, rgba(4,165,76,1) 47%, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 100%);

box-shadow:         3px 3px 5px 6px #ccc;

	a {
		color: white;
		text-decoration: none;
		.Icon {
			height: 3rem;
			width: auto;
		}
	}

	.active{
		color: white;
	}

	.Expander {
		.ExpandButton {
			outline: none;
			border: none;
			background-color: transparent;
			.ExpandIcon {
				height: 3rem;
				width: auto;
			}
		}
	}

	.MainNav {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 100%;

		.ProfileIcon {
			border-radius: 50%;
			height: 3rem;
			width: auto;
		}
		.Text {
			display: none;
		}
	}

	.SecNav {
		display: none;
	}

	.MobileNav {
		position: absolute;
		top: 0;
		display: block;
		z-index: 999;
		background-color: rgba(0, 0, 0, .95);
		width: 100%;
		height: 100%;
		display: grid;
		align-items: center;
	}
}

@include desktop {
	.NavBar {
		display: grid;
		grid-template-columns: repeat(40% 60%);
		//grid-template-rows: 100%;

		a {
			color: black;
		}

		.Expander {
			display: none;
		}

		.MainNav {
		}

		.SecNav {
			display: block;
			display: grid;
			grid-template-columns: 33% 33% 33%;
			grid-template-rows: 100%;
			position: relative;
			height: 100%;
			width: 100%;
			align-items: center;
		}

		.MobileNav {
			display: block;
			display: grid;
			grid-template-columns: 33% 33% 33%;
			grid-template-rows: 100%;
			position: relative;
			height: 100%;
			width: 100%;
			top: unset;
			bottom: unset;
			z-index: 0;
			background-color: unset;
		}
	}
}
