@import '../scss/colors.scss';
@import '../scss/fonts.scss';
@import '../scss/devices.scss';

.ActivityCard {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10% 5% 45% 15% 5% 5% 15%;
	align-items: center;
	justify-items: center;
	height: 100%;
	width: 100%;

	a {
		text-decoration: none;
		color: blueviolet;
		font-size: x-small;
	}

	.Image {
		border-radius: 5%;
		height: 10rem;
		width: auto;
	}

	.MembersGoingGrid {
		display: grid;
		grid-template-columns: repeat(5, 20%);
		width: 100%;
	}
}
@include desktop {
	.ActivityCard {
	}
}
