@import "../../../scss/colors.scss";
@import "../../../scss/fonts.scss";
@import "../../../scss/devices.scss";

.ActivityFilter {
  display: grid;
  margin-top: 2rem;



  .Sport {
    margin: 1rem;
  }

  .Day {
    margin: 1rem;
  }

  .Week {
    margin-top: 2rem;
  }

  .FilterOption {
    align-items: center;
    justify-items: left;
    margin: 0rem;
    height: 2rem;

    .Checkbox {
      color: $teslalight;
      //transform: scale(1);
    }

    .Radio {
      color: $tesladark;
      //transform: scale(1);
    }
    label {
      font-size: 1.2rem;
    }
  }

  // input[type="checkbox"]{
  //     color: red;
  //     width: 2rem;
  //     ::checked{
  //         color: blue;
  //     }
  // }
}
